<div class="profilePage">
    <div id="topRow"><h2>Profile</h2>
    </div>
    <div id="personalInfo">
        <div id="profilePic"><img src="/images/ProfileImage.jpg"></div>
        <div class="profileForm" id="profileName">
            <div class="rowName">
                <p>Name:</p>
            </div>
            <div class="input">
                <p>Sanna Marklund</p>
            </div>
        </div>
        <div class="profileForm" id="profilePhone">
            <div class="rowName">
                <p>Phone:</p>
            </div>
            <div class="input">
                <p>+46739876543</p>
            </div>
            <div class="editButton"><img src="/images/pencil-edit-button.png"></div> 
        </div>
        <div class="profileForm" id="profileMail">
            <div class="rowName">
                <p>Email:</p>
            </div>
            <div class="input">
                <p>Sanna.Marklund@gmail.com</p>
            </div>
            <div class="editButton"><img src="/images/pencil-edit-button.png"></div> 
        </div>
    </div>
</div>



<div class="footerMenu" ng-include src="'views/menuBar.html'">?</div>